$menu-breadcrumb-transform: uppercase !default;
$menu-breadcrumb-padding: 2.5em 3.75em 1.5em 2.5em !default;
$menu-breadcrumb-separator-color: #33353e !default;
$menu-color-fg: #5c5edc !default;
$menu-color-active: #5c5edc !default;
